# QLoRA Model Config
base_learning_rate: 1.0e-4
scale_lr: False
target: src.model.LALM.LALMModel
params:
  audio_encoder:
    target: src.model.audio_encoder.WhisperAudioEncoder
    params:
      model_name: "/home/jhkim/jhkim/model/whisper-large-v3"
      finetune: False
      use_lora: False
      use_qlora: True
      trust_remote_code: True
  
  llm_decoder:
    target: src.model.LLM.LLMDecoder
    params:
      model_name: "meta-llama/Llama-3.2-3B-Instruct"
      use_qlora: True
      use_lora: False
      lora_r: 16
      lora_alpha: 32
      lora_dropout: 0.05
      trust_remote_code: True
  
  projector_hidden_act: "gelu"
  projector_bias: False

